html {
  background: url(../images/sangres.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div {
  display: block;
}

#wrapper {
  position: absolute;
  /*display: inline-block;*/
  width: 62%;
  margin: 0 auto;
  max-width: 600px;
  top: 100px;
  left: 19%;
  right: 19%;
}

#header {
  text-align: center;
}
#header h1 {
  font-weight: bold;
  color: #ffffff;
  font-size: 56px;
}
#header h2 {
  color: #bfbfbf;
  font-size: 42px;
}

#info-box {
  position: relative;
  margin: 62px auto;
  padding: 30px;
  background: #bfbfbf;
  opacity: 0.75;
  border-radius: 2px;
}

.main-text {
  font-size: 20px;
  opacity: 1;
}