html {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div {
  display: block;
}

#wrapper {
  position: absolute;
  display: inline-block;
  width: 62%;
  margin: 0 auto;
  max-width: 600px;
  top: 100px;
  left: 19%;
  right: 19%;
}

#header {
  text-align: center;
}
#header h1 {
  font-weight: bold;
  color: #ffffff;
  font-size: 56px;
}
#header h2 {
  color: #bfbfbf;
  font-size: 42px;
}

#info-box {
  position: relative;
  margin: 62px auto;
  padding: 30px;
  background: #bfbfbf;
  opacity: 0.75;
  border-radius: 2px;
}

#social-links{
  position: relative;
  margin-bottom: 24px;
  width: 36%;
  left: 32%;
  right: 32%;
}
.social-left, .social-mid, .social-right{
  color: #800000;
  opacity: 1;
  min-width: 36px;
}
.social-left:hover, .social-mid:hover, .social-right:hover{
  color: #b30000;
}
.social-left:active, .social-mid:active, .social-right:active{
  color: #e60000;
}
.social-mid{
  display: inline-block;
  text-align: center;
  width: 33%;
}
.social-left{
  float: left;
  text-align: right;
  width: 33%;
}
.social-right{
  float: right;
  text-align: left;
  width: 33%;
}

.main-text {
  font-size: 20px;
  opacity: 1;
}

.center-button {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 50%;
  left: 25%;
  right: 25%;
}