#wide-image{
	width: 100%;
	height: auto;
}
.photo-wide{
	width: 100%;
	position:relative;
}
.header{
	color: white;
	text-align: center;
	font-size: 2.5em;
	font-family: Helvetica;
    margin: 0 auto;
    margin-top: -200px;
    position: relative;
    width:61.8%;
}
.text-black{
	background: black;
	color: white;
	font-family: Helvetica;
	width: 100%;
	height: auto;
}
h1{
	font-size: 1.5em;
}
h3{
	font-size: 1.2em;
}




